<h3>Welcome to the Homepage!</h3>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eum ea odit, nam accusantium vitae sed excepturi, porro, consequuntur quae, animi hic officiis distinctio aperiam cumque. Porro, odit fugiat dolorum.
</p>
{{#linkTo "login" class="btn btn-md btn-primary"}}
      <span class="glyphicon glyphicon-cog"></span> Log In
{{/linkTo}}

