// app/templates/login.hbs
<!-- Note: this is vanilla HTML. TODO: Emberify!-->
<h2>Login</h2>

<form class="form" action="#">

  <label for="email" class="sr-only">Email</label>
  <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email"/>

  <br/>

  <label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password"/>

  <hr/>

  <button class="btn btn-lg btn-primary">
    <span class="glyphicon glyphicon-cog"></span> Log Me In!
  </button>

</form>
